/* Estilos de la página */
*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.brand-logo{
    font-family: 'Rammetto One', cursive;
    left: 20px;
    position: relative;
    font-size: 10px;
}

.final{
    margin-bottom: 0 !important;
}

.text{
    bottom: 1vh;
    position: relative;
}