*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.brand-logo{
    font-family: 'Rammetto One', cursive;
    left: 20px;
    position: relative;
    font-size: 10px;
}

.final{
    margin-bottom: 0 !important;
}

.text{
    bottom: 8vh;
    position: relative;

}

.container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    }
  
  
  .alt-text {
    text-align: center;
    display: block;
    position: relative;
    margin: 20px;
    color: #fff;
    }
  
  figcaption {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
    background-color: rgba(0,0,0,0.8);
    }
  
  .alt-text:hover > figcaption.alt {
    opacity: 1;
    }